# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
.npm
.node_repl_history

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db