modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Darkvenom Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "darkvenombot"

[[workflows.workflow]]
name = "Darkvenom Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "darkvenombot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[deployment]
run = ["sh", "-c", "node index.js"]
